Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
r=int(input("Enter the radius of circle"))
area=(22/7)*r*r
print(area)

Enter the radius of circle3
28.285714285714285

Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name=input("Enter the name")
roll_no=int(input("enter the roll number"))
mark=int(input("Enter the mark"))
print("Name:",name," Roll No",roll_no," Mark:",mark)

Enter the nameAnisha
enter the roll number21
Enter the mark78
Name: Anisha  Roll No 21  Mark: 78

Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
number=[12,3,47,10]
largest=max(number)
print(largest,"is the largest number")

47 is the largest number

Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
previous_number = 0
for current_number in range(1, 11):
  current_sum = current_number + previous_number
  print("Current Number:", current_number, " Previous Number: ",previous_number, "Sum:", current_sum)
  previous_number = current_number

Current Number: 1  Previous Number:  0 Sum: 1
Current Number: 2  Previous Number:  1 Sum: 3
Current Number: 3  Previous Number:  2 Sum: 5
Current Number: 4  Previous Number:  3 Sum: 7
Current Number: 5  Previous Number:  4 Sum: 9
Current Number: 6  Previous Number:  5 Sum: 11
Current Number: 7  Previous Number:  6 Sum: 13
Current Number: 8  Previous Number:  7 Sum: 15
Current Number: 9  Previous Number:  8 Sum: 17
Current Number: 10  Previous Number:  9 Sum: 19

Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [ ]:
number=[10,20,33,46,55]
for i in number:
  if(i%5==0):
    print(i)

10
20
55

Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [ ]:
number=int(input("Enter the number"))
if(number>1):
  for i in range(2,number):
    if(number%i==0):
      print(number,"is not prime number")
      break
  else:
    print(number,"is prime number")
else:
  print(number,"is prime number")

Enter the number3
3 is prime number

Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [ ]:
number=[10,40,30,70]
revesed_number=[]
for i in range(len(number)-1,-1,-1):
  revesed_number.append(number[i])
print(revesed_number)

[70, 30, 40, 10]

Write a Python program to print the following pattern.
*
**
***
****

---



1.   List item
2.   List item

In [ ]:
for i in range(0,5):
  for j in range(0,i):
    print('*',end='')
  print()

*
**
***
****

Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
a=int(input("enter the first number"))
b=int(input("Enter the second number"))
c=int(input("Enter the third number"))
if a>b and a>c:
  print( a)
elif b>a and b>c:
  print(b)
else:
  print(c)

enter the first number34
Enter the second number12
Enter the third number7
34

Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
rows=5
for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print('*', end='')
        print()
for i in range(rows - 1, 0, -1):
  for j in range(1, i + 1):
    print('*', end='')
  print()

*
**
***
****
*****
****
***
**
*

**PRACTICE EXERCISES ON PYTHON BASICS -2**

Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
str1=input("Enter the string value")
count={}
for i in str1:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
for char, count in count.items():
        print(char,"=",count , end=", ")

Enter the string valueassembly
a = 1, s = 2, e = 1, m = 1, b = 1, l = 1, y = 1,

Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [ ]:
def maximum(a,b,c):
  if a>b and a>c:
    print(a)
  elif b>a and b>c:
    print(b)
  else:
    print(c)
a=int(input("Enter the first number "))
b=int(input("Enter the second number "))
c=int(input("Enter the third number "))
maximum(a,b,c)

Enter the first number 34
Enter the second number 12
Enter the third number 7
34

Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base,exp):
  result=base**exp
  return result
base=int(input("Enter the base:"))
exp=int(input("enter the exponent"))
result = exponent(base, exp)
print(result)

Enter the base:2
enter the exponent3
8

Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [3]:
def sum(n):
  sum=0
  for i in range(1,n):
    sum+=i**3
  return sum
print("sample input:",4)
print("sample output :",sum(4))

sample input: 4
sample output : 36

Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [7]:
def fizzbuzz(n):
  for i in range(1,n+1):
    if(i%2==0):
      print("Fizz",end=" ")
    elif(i%5==0):
      print("Buzz",end=" ")
    elif(i%2==0 and i%5==0):
      print("Fizz Buzz",end=" ")
    else:
      print(i,end=" ")
fizzbuzz(10)

1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 Fizz

Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [13]:
def mostfrequent(n):
  count={}
  for num in n:
    if num in count:
      count[num] += 1
    else:
      count[num] = 1
  max=0
  mostfrequent=0
  for num, count1 in count.items():
    if count1 > max:
      max = count1
      mostfrequent = num
      print("Sample output:",mostfrequent)
number=[2,3,4,2,5,2]
print("sample input :",number)
mostfrequent(number)

sample input : [2, 3, 4, 2, 5, 2]
Sample output: 2

Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [14]:
def sumsquares(n):
  sum_squares=0
  for i in n:
    sum_squares+=i**2
  print("sample output: ",sum_squares)

number=[2,1,3,1]
sumsquares(number)

sample output:  15

Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [19]:
def odd_or_even(n):
  for i in range(1,n+1):
    if(i%2==0):
      print(i," even",end=" ")
    else:
      print(i," odd",end=" ")

number=15
print("sample input :",number)
print("sample output :",end=" ")
odd_or_even(number)

sample input : range(0, 15)
sample output : 1  odd 2  even 3  odd 4  even 5  odd 6  even 7  odd 8  even 9  odd 10  even 11  odd 12  even 13  odd 14  even 15  odd

Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [24]:
def fahren_celsius(f):
  c=(5/9)*(f-32)
  print("Temperature in Celsius =",int(c))
f=41
print("Temperature in Fahrenheit =",f)
fahren_celsius(f)

Temperature in Fahrenheit = 41
Temperature in Celsius = 5

 Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [25]:
def factroial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * factroial(n - 1)
number=int(input("Enter the number"))
print("Sample output :",factroial(number))

Enter the number3
Sample output : 6